<% selected ||= false %>

<li class="relative px-6 py-4 text-sm flex hover:bg-tertiary-50 <%= selected ? 'border-l-4 border-tertiary-900 bg-tertiary-50 pl-5' : 'pl-6' %>">
  <div class="mr-4 shrink-0">
    <%= render 'components/avatar', size: :sm %>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <h3 class="text-sm font-semibold text-tertiary-900 line-clamp-1">
        <%= link_to dashboard_chatbot_chats_path(chat.chatbot, chat_id: chat.id), class: 'focus:outline-none', data: { turbo_frame: "_top" } do %>
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          <%= chat.creator.name %>
        <% end %>
      </h3>
    </div>
    <p class="mt-1 text-sm text-tertiary-500 line-clamp-2"><%= chat.messages.last.content %></p>
  </div>
</li>