<%= turbo_frame_tag dom_id(message), data: { chat_scroll_target: 'message' } do %>
  <%= content_tag :div, class: 'group py-4' do %>
    <div class="flex">
      <div class="mr-4 shrink-0">
        <% if message.user? %>
          <%= render 'components/avatar', size: :xs %>
        <% else %>
          <%= render 'chatbots/avatar', size: :xs, chatbot: message.chatbot %>
        <% end %>
      </div>
      <div class="space-y-2 grow-1 w-full">
        <div class="flex justify-between items-baseline">
          <div class="font-medium text-sm text-tertiary-900 flex items-center">
            <%= message_sender(message) %>
          </div>
        </div>
        
        <div class="text-tertiary-600 leading-relaxed font-normal">
          <%= message.content %>
        </div>
      </div>
      <% if message.feedback.nil? %>
        <div class="ml-2 shrink-0 invisible group-hover:visible">
          <%= render 'feedback/feedback', message: message %>
        </div>
      <% end %>
    </div>
    <% if message.feedback %>
      <div class="pl-10 mt-4">
        <%= render 'feedback/existing_feedback', feedback: message.feedback %>
      </div>
    <% end %>
  <% end %>
<% end %>