<%= turbo_frame_tag dom_id(message) do %>
  <%= content_tag :div, id: dom_id(message), class: 'group py-4' do %>
    <div class="flex">
      <div class="mr-4 shrink-0">
        <%= render 'components/avatar', size: :xs %>
      </div>
      <div class="space-y-2 grow-1 w-full">
        <div class="flex justify-between items-baseline">
          <div class="font-medium text-sm text-tertiary-900 flex items-center">
            <%= message_sender(message) %>
            <span class="text-xs text-tertiary-500 font-normal ml-1"><%= message_timestamp(message, current_user.time_zone) %></span>
          </div>
        </div>
        
        <div class="text-tertiary-600 leading-relaxed font-normal">
          <%= message.content %>
        </div>
      </div>
      <% if (message.sent_by_account?(current_account) || message.ai_generated?) && message.feedback.nil? %>
        <div class="ml-2 shrink-0 invisible group-hover:visible">
          <%= render 'feedback/feedback', message: message %>
        </div>
      <% end %>
    </div>
    <% if message.feedback %>
      <div class="pl-10 mt-4">
        <%= render 'feedback/existing_feedback', feedback: message.feedback %>
      </div>
    <% end %>
  <% end %>
<% end %>