<% subtitle ||= nil %>
<% is_dark ||= false %>

<div class="block sm:flex items-center justify-between mb-10 <%= "bg-tertiary-900 text-white" if is_dark %>">
  <div>
    <div class="mb-4">
      <%= render 'components/navigation/breadcrumbs' %>
    </div>
    <h1 class="header"><%= title %></h1>
    <% if subtitle %>
      <p class="text-tertiary-500 mt-2"><%= subtitle %></p>
    <% end %>
  </div>
  <div class="flex items-center space-x-2 mt-4 sm:mt-0">
    <%= yield %>
  </div>
</div>