<div class="h-screen flex flex-col">
  <div class="shrink-0">
    <%= render 'conversations/header', conversation: @conversation %>
  </div>
  <div class="grow-1 h-full overflow-y-scroll">
    <%= render 'shared/container', classes: 'max-w-3xl' do %>
      <%= content_tag :div, id: dom_id(@conversation, :messages), class: "divide-y divide-tertiary-300" do %>
        <%= render partial: 'messages/message', collection: @conversation.messages %>
      <% end %>
    <% end %>
  </div>
  <div class="shrink-0 py-4 sm:py-6">
    <%= render 'shared/container', classes: 'max-w-3xl' do %>
      <%= render 'messages/form', conversation: @conversation, message: @message %>
    <% end %>
  </div>
</div>