<%= render 'shared/container' do %>
  <div class="pt-16 pb-10">
    <%# Render page header %>
    <%= render 'components/headers/page_header', title: 'CSV Upload Examples', show_back: true %>

    <div class="space-y-10">
      <%# Render page description %>
      <div class="space-y-4">
        <h2 class="h2">Overview</h2>
        <p class="text-tertiary-500">This page contains examples of CSV files that can be uploaded to the CSV Uploads page.</p>
      </div>

      <div class="space-y-4">
        <h2 class="h2">What are CSV Uploads for?</h2>
        <%# A description on how fine tunes work. Make it simple to understand and compare it to Question and Answer style format %>
        <p class="text-tertiary-500">CSV Uploads are a way to train your chatbot to respond to a specific prompt. The AI will respond to the prompt with the response that you provide. The AI will learn from the response that you provide and will use that response when it is prompted with the same prompt. The more examples you provide, the better your chatbot will become at answering user questions.</p>
        <%# <p class="text-tertiary-500">The CSV file must be formatted in a specific way for the CSV CSV Uploads page to work. The CSV file must contain two columns, the first column is the prompt and the second column is the response. The first row of the CSV file must contain the column headers. The column headers must be named "prompt" and "response".</p> %>
      </div>

      <% @examples.each do |example| %>
        <div class="space-y-4">
          <%# Header %>
          <h2 class="h2"><%= example[:name] %></h2>
          <%# Table %>
          <%= render 'components/tables/table' do %>
            <%= render 'components/tables/thead' do %>
              <%= render 'components/tables/th' do %>
                Prompt
              <% end %>
              <%= render 'components/tables/th' do %>
                Response
              <% end %>
            <% end %>
            <tbody>
              <% example[:file_contents].each do |row| %>
                <%= render 'components/tables/tr' do %>
                  <% row.each do |prompt, response| %>
                    <%= render 'components/tables/td' do %>
                      <%= response %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>