<div class="py-4">
  <%= render 'shared/container' do %>
    <div class="flex items-center justify-between">
      <%= link_to root_path, class: 'flex items-center' do %>
        <%= image_tag 'logo.svg', alt: 'Timeline logo', class: 'h-4 w-auto' %>
        <span class="sr-only">Chatterbot Market</span>
      <% end %>

      <div class="flex items-center space-x-2">
        <% if user_signed_in? %>
          <%= link_to "Dashboard", "#", class: "rounded-sm text-tertiary-700 block px-4 py-2 text-sm hover:bg-black hover:bg-opacity-10 dark:hover:bg-tertiary-100 dark:hover:text-tertiary-900 dark:text-tertiary-100" %>
          <%= render 'shared/navbar/user_dropdown' %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn" %>
          <%= link_to "Create account", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>