<div class="border-b border-tertiary-300">
  <%= render 'shared/container' do %>
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center space-x-2">
        <%= link_to root_path, class: 'flex items-center' do %>
          <%= image_tag 'logo.svg', alt: 'Chatterbot logo', class: 'h-4 w-auto' %>
          <span class="sr-only">Chatterbot Market</span>
        <% end %>
        <%= link_to 'Marketplace', chatbots_path, class: 'btn' %>
      </div>

      <div class="flex items-center space-x-2">
        <% if user_signed_in? %>
          <% if current_account.chatbots.any? %>
            <%= link_to "My Chatbots", dashboard_chatbots_path, class: "btn" %>
          <% else %>
            <%= link_to "Create a Chatbot", new_chatbot_path, class: "btn" %>
          <% end %>
          <%= render 'shared/navbar/user_dropdown' %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn" %>
          <%= link_to "Create account", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>