<div class="border-b border-tertiary-300">
  <%= render 'shared/container' do %>
    <div class="flex items-center justify-between h-20">
      <div class="flex items-center space-x-4">
        <%= link_to root_path, class: 'flex items-center' do %>
          <%= image_tag 'logo.svg', alt: 'Chatterbot logo', class: 'h-4 w-auto' %>
          <span class="sr-only">Chatterbot Market</span>
        <% end %>
        <%= link_to trending_chatbots_path, class: 'btn' do %>
          <svg aria-hidden="true" class="w-4 h-4 shrink-0 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
          Find a chatbot
        <% end %>
      </div>

      <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
          <% if current_account.chatbots.any? %>
            <%= link_to "My Chatbots", dashboard_chatbots_path, class: "btn" %>
          <% else %>
            <%= link_to "Create a Chatbot", new_chatbot_path, class: "btn" %>
          <% end %>
          <%= render 'shared/navbar/user_dropdown' %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "btn" %>
          <%= link_to "Create account", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>