<%= render('components/tables/tr', options: { id: dom_id(csv_fine_tune) }) do %>
  <%= render 'components/tables/td' do %>
    <div class="space-y-1">
      <p class="text-tertiary-900 line-clamp-2"><%= csv_fine_tune.description.blank? ? "-" : csv_fine_tune.description %></p>
    </div>
  <% end %>
  <%= render 'components/tables/td' do %>
    <div class="space-y-1">
      <p class="text-sm line-clamp-1"><%= csv_fine_tune.created_at.strftime("%b %-d, %Y") %></p>
      <p class="text-tertiary-900 line-clamp-2"><%= csv_fine_tune.csv_file.blob.filename %></p>
    </div>
  <% end %>
  <%= render 'components/tables/td' do %>
    <div class="flex items-center justify-end">
      <%# View %>
      <%= link_to csv_fine_tune_path(csv_fine_tune), data: { turbo_frame: :_top }, class: "btn btn-sm btn-secondary mr-2" do %>
        View CSV
      <% end %>
    </div>
  <% end %>
<% end %>