<%= form_with model: csv_fine_tune, url: dashboard_chatbot_csv_fine_tunes_path(chatbot) do |f| %>
  <div class="input-spacer">
    <%= render 'components/forms/errors', object: csv_fine_tune, form: f %>
    <%# Name %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%# Description %>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <div>
      <%= f.label :csv_file, 'Upload CSV file' %>
      <%= f.file_field :csv_file, accept: 'text/csv' %>
    </div>
    <%= f.submit 'Upload', class: 'w-full' %>
  </div>
<% end %>