<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<div class="p-16">
  <%= render 'components/headers/page_header', title: @csv_fine_tune.csv_file.blob.filename, subtitle: @csv_fine_tune.description.blank? ? "-" : @csv_fine_tune.description, show_back: true, hide_breadcrumbs: true do %>
    <div class="flex items-center justify-end">
      <span class="isolate inline-flex rounded shadow-sm">
        <%# Download CSV button %>
        <%= link_to rails_blob_path(@csv_fine_tune.csv_file, disposition: 'attachment'), class: 'relative inline-flex items-center rounded-l bg-white px-3 py-2 text-sm font-normal text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 shrink-0 mr-2">
            <path d="M10.75 2.75a.75.75 0 00-1.5 0v8.614L6.295 8.235a.75.75 0 10-1.09 1.03l4.25 4.5a.75.75 0 001.09 0l4.25-4.5a.75.75 0 00-1.09-1.03l-2.955 3.129V2.75z" />
            <path d="M3.5 12.75a.75.75 0 00-1.5 0v2.5A2.75 2.75 0 004.75 18h10.5A2.75 2.75 0 0018 15.25v-2.5a.75.75 0 00-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5z" />
          </svg>
          <span>Download CSV</span>
        <% end %>
        <%# Edit %>
        <%= link_to edit_csv_fine_tune_path(@csv_fine_tune), data: { turbo_frame: :_top }, class: "relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-normal text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" do %>
          <span class="sr-only">Edit</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        <% end %>
        <%# Delete %>
        <%= link_to csv_fine_tune_path(@csv_fine_tune), data: { turbo_method: :delete, turbo_confirm: "Are you sure? You can't undo this.", turbo_frame: :_top }, class: "relative -ml-px inline-flex items-center rounded-r bg-white px-3 py-2 text-sm font-normal text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" do %>
          <span class="sr-only">Delete</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        <% end %>
      </span>
    </div>
  <% end %>
  <%# Table showing CSV contents %>
  <%= render 'components/tables/table' do %>
    <%= render 'components/tables/thead' do %>
      <%= render 'components/tables/th' do %>
        Prompt
      <% end %>
      <%= render 'components/tables/th' do %>
        Response
      <% end %>
    <% end %>
    <tbody>
      <% @csv_file.each do |row| %>
        <%= render 'components/tables/tr' do %>
          <% row.each do |prompt, response| %>
            <%= render 'components/tables/td' do %>
              <%= response %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>