<li>
  <%= link_to dashboard_chatbot_path(chatbot), class: "block hover:bg-tertiary-50" do %>
    <div class="flex px-4 py-4 sm:px-6">
      <%= render 'components/avatar', size: :sm %>
      <div class="ml-4">
        <div class="flex justify-between">
          <div class="flex space-x-4">
            <div class="font-medium text-tertiary-900"><%= chatbot.name %></div>
            <%= render 'dashboard/chatbots/status', chatbot: chatbot %>
          </div>
        </div>
        <div class="text-tertiary-500"><%= chatbot.description || "No description" %></div>
      </div>
    </div>
  <% end %>
</li>