<%= render 'components/headers/chatbot_dashboard', chatbot: @chatbot %>

<%= render 'shared/container' do %>
  <div class="pt-16 pb-10">
    <%= render 'components/headers/page_header', title: 'Account Settings' %>
    <div class="mt-10 max-w-2xl">
      <%# CHATBOT DETAILS %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-10">
        <div>
          <h2 class="text-lg font-medium tracking-tight">Details</h2>
        </div>
        <div class="-mt-6">
          <%= form_with model: @chatbot do |f| %>
            <div>
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div>
              <%= f.label :status, class: "relative inline-flex items-center cursor-pointer" do %>
                <%= f.check_box :status, { checked: f.object.status == 'live', class: 'sr-only peer' }, '1', '0' %>
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-success-300 dark:peer-focus:ring-success-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-success-600"></div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Live on Marketplace</span>
              <% end %>
            </div>

            <div class="flex justify-end">
              <%= f.submit 'Save' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
