<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<%# PAGE HEADER %>
<div class="p-16 pb-0">
  <%= render 'shared/container' do %>
    <%= render 'components/headers/page_header', title: 'Settings', hide_breadcrumbs: true %>
  <% end %>
</div>

<%# SECTIONS %>
<div class="divide-y divide-tertiary-300">
  <%= render 'dashboard/chatbots/settings/section', title: "General Settings" do %>
    <%= form_with model: @chatbot do |f| %>
      <div class="input-spacer">
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div class="flex justify-end">
          <%= f.submit 'Save' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'dashboard/chatbots/settings/section', title: "Privacy Settings" do %>   
  <% end %>
</div>