<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<%# PAGE HEADER %>
<div class="p-16 pb-0">
  <%= render 'shared/container' do %>
    <%= render 'components/headers/page_header', title: 'Settings', hide_breadcrumbs: true %>
  <% end %>
</div>

<%# SECTIONS %>
<div class="divide-y divide-tertiary-300">
  <%= render 'dashboard/chatbots/settings/section', title: "General Settings" do %>
    <%= form_with model: @chatbot do |f| %>
      <div class="input-spacer">
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        
        <div>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div class="flex justify-end">
          <%= f.submit 'Save' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'dashboard/chatbots/settings/section', title: "Prompt Settings" do %>
    <%= form_with model: @chatbot do |f| %>
      <div class="input-spacer">
        <div>
          <%= f.label :system_prompt %>
          <%= f.text_area :system_prompt, data: { controller: "textarea-autogrow" } %>
        </div>

        <div class="flex justify-end">
          <%= f.submit 'Save' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'dashboard/chatbots/settings/section', title: "Privacy Settings" do %>
    <%= form_with model: @chatbot do |f| %>
      <div class="input-spacer">
        <div>
          <div class="space-y-4">
            <% Chatbot.statuses.each do |status_name, status_value| %>
              <div class="flex">
                <%= f.radio_button :status, status_value, checked: status_name == @chatbot.status, class: 'peer mr-4 mt-1', id: "chatbot_status_#{status_value}" %>
                <label for="chatbot_status_<%= status_value %>" class="cursor-pointer peer-checked:text-tertiary-900 hover:text-tertiary-900">
                  <div class="block space-y-1">
                    <div class="w-full font-medium text-sm"><%= status_name.capitalize %></div>
                    <div class="w-full text-sm font-normal text-tertiary-500"><%= Chatbot::STATUS_DESCRIPTIONS[status_name.to_sym] %></div>
                  </div>
                </label>
              </div>
            <% end %>
          </div>
        </div>

        <div class="flex justify-end">
          <%= f.submit 'Save' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render 'dashboard/chatbots/settings/section', title: "Base model", subtitle: "Choose a base model from OpenAI for your chatbot to be built on top of" do %>
    <%= form_with model: @chatbot do |f| %>
      <div class="input-spacer">
        <div>
          <%# Select the base model for chatbot %>
          <%= f.label :base_model_id, "OpenAI model", class: 'sr-only' %>
          <%= f.collection_select :base_model_id, BaseModel.all.order(:name), :id, :name %>
        </div>

        <div class="flex justify-end">
          <%= f.submit 'Save' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>