<%= render 'shared/container' do %>
  <div class="divide-y divide-tertiary-300">
    <%# Info about bot %>
    <div class="py-16">
      <div class="-ml-6 mb-4">
        <%= render 'components/navigation/back_btn' %>
      </div>
      <div class="flex">
        <%# Chatbot info %>
        <div class="w-96 shrink-0 mr-8">
          <%= render 'components/headers/page_header_2', title: "Ratings & Reviews", subtitle: "#{round_to_nearest_half(@chatbot.avg_rating)} based on #{@chatbot.reviews.count} reviews" %>
          <%# Button to add review if current_user has chats with chatbot %>
          <% if current_user.chats.where(chatbot: @chatbot).any? %>
            <%= link_to new_chatbot_review_path(@chatbot), class: 'btn btn-secondary w-full' do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2 shrink-0">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
              </svg>

              Add a review
            <% end %>
          <% end %>
        </div>
        <%# Reviews %>
        <div>
          <div class="space-y-4">
            <%= render partial: 'chatbots/reviews/review', collection: @chatbot.reviews %>
          </div>
          <div class="py-10 flex justify-center">
            <%= render 'pagy/pagination', pagy: @pagy %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
 