<div class="grid grid-cols-2">
  <%= render 'shared/container', classes:'bg-tertiary-100' do %>
    <div class="h-screen">
      <div class="h-full overflow-y-scroll">
        <%= render 'shared/container', classes: 'max-w-3xl py-10' do %>
          <%= content_tag :div, id: dom_id(@conversation, :messages) do %>
            <% @conversation.messages.each do |msg| %>
              <% if @feedback.message == msg %>
                <div class="px-4 rounded bg-white ring-1 ring-info-500">
                  <%= render 'messages/message', message: msg %>
                </div>
              <% else %>
                <div class="opacity-25 hover:opacity-100">
                  <%= render 'messages/message', message: msg %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div>
    <div class="py-16 h-screen flex items-center">
      <%= render 'shared/container', classes: 'max-w-lg' do %>
        <%= render 'components/headers/page_header', title: 'New Correction', subtitle: 'This response will help train your chatbot to do better' %>
        <%= render 'form', feedback: @feedback, example_response: @example_response %>
      <% end %>
    </div>
  </div>
</div>