<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<div class="h-full flex overflow-hidden">
  <div class="space-y-4 w-full max-w-xs flex-shrink-0 h-full flex flex-col pl-6 pt-6">
    <div class="flex items-center justify-between w-full shrink-0">
      <h1 class="header">Messages</h1>
      <%= link_to "#", class: 'rounded-full p-2 -mr-2 text-tertiary-900 hover:bg-tertiary-50' do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
      <% end %>
    </div>
    <div class="w-full h-full grow-1 overflow-y-scroll pb-6">
      <% if @conversations.any? %>
        <%= render 'conversations', conversations: @conversations, selected_conversation: @selected_conversation %>
      <% else %>
        <%= render 'conversations_empty_state', chatbot: @chatbot %>
      <% end %>
    </div>
  </div>
  <div class="p-6 pt-0 w-full">
    <% if @selected_conversation %>
      <%= render 'conversations/chat', conversation: @selected_conversation, message: Message.new %>
    <% end %>
  </div>
</div>