<button id="accountDropdownButton" data-dropdown-toggle="accountDropdown" data-dropdown-placement="bottom-end" class="btn" type="button">
  <span class="sr-only">Open user menu</span>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-1.5">
    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
  </svg>
  <%= current_user.name %>
</button>

<!-- Dropdown menu -->
<div id="accountDropdown" class="elevated-card hidden w-44">
  <div class="px-4 py-3 text-sm text-tertiary-900 dark:text-white">
    <div class="text-tertiary-500">Signed in as</div>
    <div class="truncate font-medium"><%= current_user.email %></div>
  </div>
  <div class="py-2">
    <%= link_to "My Chatbots", dashboard_chatbots_path, class: "block px-4 py-2 text-sm text-tertiary-700 hover:bg-tertiary-100 dark:hover:bg-tertiary-600 dark:text-tertiary-200 dark:hover:text-white" %>
    <%= link_to "Account settings", account_settings_path, class: "block px-4 py-2 text-sm text-tertiary-700 hover:bg-tertiary-100 dark:hover:bg-tertiary-600 dark:text-tertiary-200 dark:hover:text-white" %>
  </div>
  <div class="py-2">
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm text-tertiary-700 hover:bg-tertiary-100 dark:hover:bg-tertiary-600 dark:text-tertiary-200 dark:hover:text-white" %>
  </div>
</div>
