<li>
  <div class="<%= selected ? 'border-l-4 border-tertiary-900 bg-tertiary-50' : 'pl-7 bg-white' %> relative flex items-center space-x-3 px-6 py-5 focus-within:ring-2 focus-within:ring-inset focus-within:ring-primary-400 hover:bg-gray-50">
    <%= render 'components/avatar', size: :md %>
    <div class="min-w-0 flex-1">
      <%= link_to dashboard_chatbot_path(chatbot), class: 'focus:outline-none' do %>
        <!-- Extend touch target to entire panel -->
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="header-xs line-clamp-1"><%= chatbot.name %></p>
        <%= render 'dashboard/chatbots/status', chatbot: chatbot %>
      <% end %>
    </div>
  </div>
</li>