<% chatbot ||= nil %>
<% action = chatbot.present? ? chatbot_corrections_path(chatbot) : correction_path(correction) %>

<%= form_with model: correction, url: action do |f| %>
  <%= render 'components/forms/errors', form: f %>
  <div class="grid grid-cols-2 gap-8">
    <div>
      <%= f.label :prompt, class: 'flex items-center' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
        </svg>

        Prompt
      <% end %>
      <%= f.text_area :prompt,
                      rows: 8,
                      placeholder: 'How do flies walk on the ceiling?' %>
    </div>

    <div>
      <%= f.label :response, class: 'flex items-center' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
        </svg>

        Response
      <% end %>
      <%= f.text_area :response,
                      rows: 8,
                      placeholder: "Flies can walk upside down! They can do this because of their sticky feet. A fly has foot pads that are covered in tacky glue. To unstick their feet so they can walk anywhere, the fly uses tiny foot claws to push or twist themselves away." %>
    </div>
  </div>

  <div class="flex justify-end">
    <%= f.submit %>
  </div>
<% end %>