<%= render 'shared/container' do %>
  <div class="pt-16 pb-10">
    <%= link_to chatbots_path, class: 'btn mb-2 -ml-4' do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1">
        <path fill-rule="evenodd" d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z" clip-rule="evenodd" />
      </svg>
      Back
    <% end %>

    <%= render 'components/headers/page_header', title: @chatbot.name do %>
      <% if policy(@chatbot).update? || policy(@chatbot).destroy? %>
        <span class="isolate inline-flex rounded-md shadow-sm">
          <%= link_to("Edit chatbot", edit_chatbot_path(@chatbot), class: "relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm text-tertiary-800 hover:text-tertiary-900 ring-1 ring-inset ring-tertiary-300 hover:bg-tertiary-50 focus:z-10") if policy(@chatbot).update? %>
          <%= link_to("Delete", @chatbot, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm text-tertiary-800 hover:text-tertiary-900 ring-1 ring-inset ring-tertiary-300 hover:bg-tertiary-50 focus:z-10") if policy(@chatbot).destroy? %>
        </span>
      <% end %>
    <% end %>

    <%# Main stats %>
    <div>
      <%= render 'components/headers/section_header', title: "Stats" %>

      <dl class="card text-tertiary-900 grid grid-cols-1 sm:grid-cols-3 divide-y sm:divide-y-0 sm:divide-x divide-dashed divide-tertiary-200">
        <div class="overflow-hidden px-4 py-5 sm:p-6">
          <dt class="truncate text-sm text-primary-500 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-1 text-primary-400">
              <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
              <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
            </svg>
            Active Subscribers
          </dt>
          <dd class="mt-1 text-3xl tracking-tight">115</dd>
        </div>

        <div class="overflow-hidden px-4 py-5 sm:p-6">
          <dt class="truncate text-sm text-primary-500 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-1 text-primary-400">
              <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z" />
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd" />
            </svg>
            Weekly Revenue
          </dt>
          <dd class="mt-1 text-3xl tracking-tight">
            <span class="text-base transform -translate-y-2">$</span>200,000
          </dd>
        </div>

        <div class="overflow-hidden px-4 py-5 sm:p-6">
          <dt class="truncate text-sm text-primary-500 flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-1 text-primary-400">
              <path fill-rule="evenodd" d="M5.337 21.718a6.707 6.707 0 01-.533-.074.75.75 0 01-.44-1.223 3.73 3.73 0 00.814-1.686c.023-.115-.022-.317-.254-.543C3.274 16.587 2.25 14.41 2.25 12c0-5.03 4.428-9 9.75-9s9.75 3.97 9.75 9c0 5.03-4.428 9-9.75 9-.833 0-1.643-.097-2.417-.279a6.721 6.721 0 01-4.246.997z" clip-rule="evenodd" />
            </svg>
            Total Messages
          </dt>
          <dd class="mt-1 text-3xl tracking-tight">4030</dd>
        </div>
      </dl>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-10">
      <%# Recent Conversations %>
      <div>
        <%= render 'components/headers/section_header', title: "Recent conversations" do %>
          <%= link_to "View all", chatbot_conversations_path(@chatbot), class: "text-sm text-tertiary-500 hover:text-tertiary-900 hover:underline underline-offset-4" %>
        <% end %>
        <div class="overflow-hidden card">
          <ul role="list" class="divide-y divide-tertiary-200">
            <% @conversations.each do |conversation| %>
              <%= render 'conversations/conversation', conversation: conversation %>
            <% end %>
          </ul>
        </div>
      </div>

      <%# Training data %>
      <div>
        <%= render 'components/headers/section_header', title: "Training Data" %>
        <div class="overflow-hidden card">
          <ul role="list" class="divide-y divide-tertiary-200">
            <li class="px-6 py-4 text-sm text-tertiary-500">
              <!-- Your content -->
              Training Data
            </li>

            <li class="px-6 py-4 text-sm text-tertiary-500">
              <!-- Your content -->
              Training Data
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
<% end %>
 