<%= render 'shared/container' do %>
  <div class="divide-y divide-tertiary-300">
    <%# Info about bot %>
    <div class="py-16">
      <div class="-ml-6 mb-4">
        <%= render 'components/navigation/back_btn' %>
      </div>
      <div class="flex space-x-8 relative">
        <%= render 'chatbots/avatar', chatbot: @chatbot, size: :xl %>
        <div>
          <div>
            <div class="flex items-center space-x-4">
              <%# Chatbot name %>
              <h1 class="h1"><%= @chatbot.name %></h1>
              <%# Favorite button %>
              <%= render 'chatbots/favorite_btn', chatbot: @chatbot %>
            </div>
            <p class="text-tertiary-500 max-w-lg mt-1"><%= @chatbot.description %></p>
            <div class="flex items-center space-x-8 mt-6">
              <%# Creator %>
              <div class="flex items-center space-x-2">
                <p class="text-sm text-tertiary-500">Created by <%= link_to @chatbot.account.name, @chatbot.account, class: 'link-underline' %></p>
              </div>
              <%# Rating %>
              <span class="text-sm font-medium flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3.5 h-3.5 mr-0.5">
                  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
                </svg>
                <%= round_to_nearest_half(@chatbot.avg_rating) %>
                <span class="text-tertiary-500 font-normal ml-1">(<%= @chatbot.reviews.count %> reviews)</span>
              </span>
            </div>
          </div>
          <%# Chat now btn %>
          <div class="mt-8">
            <% if user_signed_in? %>
              <%= link_to new_chat_path(chatbot_id: @chatbot.id), class: "btn btn-primary group w-56" do %>
                Chat now

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-0 w-0 h-0 group-hover:w-4 group-hover:h-4 group-hover:ml-2 group-hover:-rotate-45 transition-all duration-200 ease-in-out">
                  <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                </svg>
              <% end %>
            <% else %>
              <%= link_to you_must_sign_in_path,
                class: "btn btn-primary group w-56",
                data: { turbo_frame: :modal } do %>
                Chat now

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="mr-0 w-0 h-0 group-hover:w-4 group-hover:h-4 group-hover:ml-2 group-hover:-rotate-45 transition-all duration-200 ease-in-out">
                  <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                </svg>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%# Reviews %>
    <div class="py-16 pl-40 grid grid-cols-3 gap-8">
      <div class="col-span-1">
        <%= render 'components/headers/page_header_2', title: "Ratings & Reviews", subtitle: "#{round_to_nearest_half(@chatbot.avg_rating)} based on #{@chatbot.reviews.count} reviews" %>
        <%# Button to add review if current_user has chats with chatbot %>
        <% if user_signed_in? && current_user.chats.where(chatbot: @chatbot).any? %>
          <%= link_to new_chatbot_review_path(@chatbot), class: 'btn btn-secondary w-full' do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2 shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
            </svg>

            Add a review
          <% end %>
        <% end %>
      </div>
      <div class="col-span-2 space-y-4">
        <%= render partial: 'chatbots/reviews/review', collection: @reviews %>
        <%# button to see all reviews %>
        <%= link_to chatbot_reviews_path(@chatbot), class: 'btn btn-secondary w-full' do %>
          See all reviews
          
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-2 shrink-0">
            <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
 