<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<!DOCTYPE html>
<html class="h-full bg-white">
  <%= render 'shared/head' %>

  <body class="h-full">
    <%= render 'shared/flashes' %>
    <div class="flex min-h-full">
      <div class="hidden w-0 flex-1 lg:block p-6">
        <div class="relative h-full w-full rounded overflow-hidden">
          <%# <img class="absolute inset-0 h-full w-full object-cover" src="https://image.lexica.art/full_jpg/87b6dfcb-f2fa-4a73-8299-e46a3d894051" alt=""> %>
          <%# gradient dark at top to transparent %>
          <div class="absolute inset-0 brand-gradient rotate-180"></div>
          <div class="absolute left-10 top-10">
            <%# link to root path %>
            <%= link_to root_path do %>
              <%= image_tag 'logo_dark.svg', class: 'h-5'  %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
          <div class="mt-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'components/modals/modal' %>
  </body>
</html>